In [1]:
import sqlalchemy
import pymysql

In [2]:
pymysql.install_as_MySQLdb()

In [3]:
index = ['Nasdaq']

In [4]:
def schemacreator(x):
    engine = sqlalchemy.create_engine('mysql://root:12345678@localhost:3306/')
    engine.execute(sqlalchemy.schema.CreateSchema(x))

In [5]:
for i in index:
    schemacreator(i)

In [6]:
import pandas as pd

In [17]:
df=pd.read_html('https://en.wikipedia.org/wiki/Nasdaq-100')[1]
df

   Category  All-Time Highs[8]        All-Time Highs[8].1
0   Closing           16573.34  Friday, November 19, 2021
1  Intraday           16764.86  Monday, November 22, 2021

In [7]:
sc_df = pd.read_html('https://en.wikipedia.org/wiki/Nasdaq-100')[4]
sc_df

,Company,Ticker,GICS Sector,GICS Sub-Industry
0,Activision Blizzard,ATVI,Communication Services,Interactive Home Entertainment
1,Adobe Inc.,ADBE,Information Technology,Application Software
2,ADP,ADP,Information Technology,Data Processing & Outsourced Services
3,Airbnb,ABNB,Consumer Discretionary,Internet & Direct Marketing Retail
4,Align Technology,ALGN,Health Care,Health Care Supplies
...,...,...,...,...
96,Warner Bros. Discovery,WBD,Communication Services,Broadcasting
97,"Workday, Inc.",WDAY,Information Technology,Application Software
98,Xcel Energy,XEL,Utilities,Multi-Utilities
99,Zoom Video Communications,ZM,Information Technology,Application Software
100,Zscaler,ZS,Information Technology,Application Software

In [8]:
sc_df['GICS Sector'].value_counts()

Information Technology    39
Consumer Discretionary    16
Health Care               13
Communication Services    11
Industrials                9
Consumer Staples           7
Utilities                  4
Energy                     2
Name: GICS Sector, dtype: int64

In [9]:
sc_df['GICS Sub-Industry'].value_counts()

Application Software                          14
Semiconductors                                11
Internet & Direct Marketing Retail             7
Biotechnology                                  7
Data Processing & Outsourced Services          4
Semiconductor Equipment                        4
Health Care Equipment                          3
Multi-Utilities                                3
Interactive Media & Services                   3
Automobile Manufacturers                       3
Soft Drinks                                    3
Broadcasting                                   2
Packaged Foods & Meats                         2
Systems Software                               2
Research & Consulting Services                 2
Interactive Home Entertainment                 2
Diversified Support Services                   2
Cable & Satellite                              2
IT Consulting & Other Services                 1
Electric Utilities                             1
Wireless Telecommunication Services            1
Restaurants                                    1
Health Care Supplies                           1
Apparel Retail                                 1
Construction Machinery & Heavy Trucks          1
Trucking                                       1
Specialty Stores                               1
Movies & Entertainment                         1
Hotels, Resorts & Cruise Lines                 1
Apparel, Accessories & Luxury Goods            1
Pharmaceuticals                                1
Technology Hardware, Storage & Peripherals     1
Communications Equipment                       1
Life Sciences Tools & Services                 1
Industrial Conglomerates                       1
Oil & Gas Equipment & Services                 1
Building Products                              1
Electronic Components                          1
General Merchandise Stores                     1
Oil & Gas Exploration & Production             1
Railroads                                      1
Hypermarkets & Super Centers                   1
Drug Retail                                    1
Name: GICS Sub-Industry, dtype: int64

In [10]:
sc_df[sc_df['GICS Sub-Industry']=='Semiconductors']

,Company,Ticker,GICS Sector,GICS Sub-Industry
8,Advanced Micro Devices Inc.,AMD,Information Technology,Semiconductors
11,Analog Devices,ADI,Information Technology,Semiconductors
22,Broadcom Inc.,AVGO,Information Technology,Semiconductors
47,GlobalFoundries,GFS,Information Technology,Semiconductors
51,Intel,INTC,Information Technology,Semiconductors
65,Microchip Technology,MCHP,Information Technology,Semiconductors
66,Micron Technology,MU,Information Technology,Semiconductors
72,Nvidia,NVDA,Information Technology,Semiconductors
73,NXP,NXPI,Information Technology,Semiconductors
82,Qualcomm,QCOM,Information Technology,Semiconductors
92,Texas Instruments,TXN,Information Technology,Semiconductors

In [11]:
sc_df = sc_df[sc_df['GICS Sub-Industry']=='Semiconductors'].Ticker.to_list()

In [12]:
import yfinance
import warnings
warnings.filterwarnings("ignore")

In [13]:
engine = sqlalchemy.create_engine('mysql://root:12345678@localhost:3306/nasdaq')
for i in sc_df:
    df = yfinance.download(i,start='2017-01-01',end='2023-01-01')
    df = df.reset_index()
    df.to_sql(i,engine)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [14]:
df.head()

        Date       Open       High        Low      Close  Adj Close   Volume
0 2017-01-03  73.529999  74.309998  73.050003  73.580002  61.881756  4847900
1 2017-01-04  73.650002  73.970001  73.250000  73.489998  61.806049  4507100
2 2017-01-05  73.290001  73.699997  72.889999  72.919998  61.326672  4301100
3 2017-01-06  72.879997  74.279999  72.470001  74.150002  62.361137  5244600
4 2017-01-09  74.510002  75.220001  74.169998  74.339996  62.520931  4782900